[Unit]
Description=NetDisplay Cloudflare Quick Tunnel
After=network-online.target netdisplay.service
Wants=network-online.target
Requires=netdisplay.service

[Service]
Type=simple
User=zerozero
WorkingDirectory=/home/zerozero/01-code/05-new-net-display
Environment=PATH=/home/zerozero/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/home/zerozero/01-code/05-new-net-display/run-tunnel.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
